/* css da page Home */

.home {
    width: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .home img {
     height: 500px;
  }
  
  .home p {
      font-size: 3rem;/* 48px */
      font-weight: bold;
      margin-bottom: 1rem;
  }
  
  .home span {
      color: var(--red);
  }
  
  .btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  
    /*Alterações para a tag Link do Router-Dom*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .btn_red {
    background-color: var(--red);
    color: var(--white);
  }
  
  .btn_red:hover {
    background-color: var(--primary);
    transition: all .5s;
  }

  /*Responsividade*/

  @media (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .home img {
      max-width: 100%;
      height: auto;
      padding-inline: 2.rem;
    }
  }

  @media (max-widht: 480px) {
    .home p {
        font-size: 2rem;
        padding: 1rem;
    }

    .home img{
      max-width: 100%;
      height: auto;
      padding-inline: 1.5rem;
    }
  }

  @media (max-width: 320px) {
    .home p {
      font-size: 1rem;
    }

    .home img {
      max-width: 100%;
      height: auto;
      padding-inline: 1.5rem;
    }
  }